<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.mingmen.yanpro.mapper.FsfaMapper">

    <update id="update">
        update ss_fushi_fangan
        <set>
            <if test="WJM != null">
                WJM = #{WJM},
            </if>
            <if test="YXDM != null">
                YXDM = #{YXDM},
            </if>
            <if test="YXSMC != null">
                YXSMC = #{YXSMC},
            </if>
            <if test="NF != null">
                NF = #{NF},
            </if>
            <if test="FSFA != null">
                FSFA = #{FSFA},
            </if>
            <if test="SHZT != null">
                SHZT = #{SHZT},
            </if>
            <if test="SCR != null">
                SCR = #{SCR},
            </if>
            <if test="SCSJ != null">
                SCSJ = #{SCSJ},
            </if>
            <if test="XYSHR != null">
                XYSHR = #{XYSHR},
            </if>
            <if test="XYSHSJ != null">
                XYSHSJ = #{XYSHSJ},
            </if>
            <if test="YYSHR != null">
                YYSHR = #{YYSHR},
            </if>
            <if test="YYSHSJ != null">
                YYSHSJ = #{YYSHSJ},
            </if>
            <if test="GXSJ != null">
                GXSJ = #{GXSJ}
            </if>
        </set>
        <where>
            ID = #{ID}
        </where>
    </update>

    <select id="findPage" resultType="com.mingmen.yanpro.dao.Fsfa">
        select * FROM ss_fushi_fangan
        <where>
            <if test="NF != null">
                and NF = #{NF}
            </if>
            <if test="SHZT != null">
                and SHZT = #{SHZT}
            </if>
            <if test="WJM != null and WJM != '' ">
                and WJM like concat('%',#{WJM},'%')
            </if>
            <if test="YXSDM != null and YXSDM != '' ">
                and YXDM = #{YXSDM}
            </if>
            <if test="YXSMC != null and YXSMC != '' ">
                and YXSMC like concat('%',#{YXSMC},'%')
            </if>
        </where>
    </select>

    <select id="totalSutShzt" resultType="java.lang.Integer">
        SELECT count(*) from ss_fushi_fangan
        <where>
            <if test="YXSDM != null and YXSDM != '' ">
                and YXSDM = #{YXSDM}
            </if>
            <if test="YXSMC != null and YXSMC != '' ">
                and YXSMC = #{YXSMC}
            </if>
            <if test="SHZT != null">
                and SHZT = #{SHZT}
            </if>
            <if test="NF != 0">
                and NF = #{NF}
            </if>
        </where>
    </select>
</mapper>